## match API
match API로 밴 픽 승 데이터를 가져옴

# 데이터 뽑을때만 쓰고 다른 때는 돌리지 마세요.

In [1]:
import pandas as pd
import numpy as np
from time import sleep

In [2]:
import os
for dirname,_,filenames in os.walk('./Data'):
    for filename in filenames:
        print(os.path.join(dirname,filename))

./Data\account_2020_10_08.csv
./Data\account_2020_11_03.csv
./Data\championName_ID.csv
./Data\matchData.json
./Data\matchID_2020_10_08.csv
./Data\matchID_2020_11_03.csv

In [3]:
matchData = pd.read_csv('./Data\matchID_2020_11_03.csv')

In [4]:
print(matchData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13497 entries, 0 to 13496
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   #        13497 non-null  int64
 1   matchID  13497 non-null  int64
dtypes: int64(2)
memory usage: 211.0 KB
None

In [5]:
print("Null value check")
print(matchData.isnull().sum())

Null value check
#          0
matchID    0
dtype: int64

## Request

In [7]:
import requests
from roleidentification import pull_data, get_roles

URL = 'https://kr.api.riotgames.com/lol/match/v4/matches/'
headers={
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
    "Origin": "https://developer.riotgames.com",
    "X-Riot-Token": "RGAPI-8c376d7a-d3b2-487b-8fc8-4b2f01eb1507"
}

match=[]

converter={}
data=pd.read_csv("./Data/championName_ID.csv")
for i,j in zip(data['id'],data['name']):
    converter[i]=j


for ID in matchData['matchID']:
    URL_ID = URL+str(ID)
    res=requests.get(URL_ID,headers=headers)
    
    #error skip
    if(res.status_code!=200):
        print(res.status_code,res.headers['X-APP-Rate-Limit-Count'])
        continue
    
    ## rate handling
    print(res.headers['X-APP-Rate-Limit-Count'])
    if('100:120' in res.headers['X-APP-Rate-Limit-Count']):
        print("Request Rate Waiting")
        #일단 100개만 하려고 Break 함

        break
        sleep(120)
    
    # if not rank match then continue
    if(res.json()['gameMode']!='CLASSIC'):
        print(res.json()['gameMode'])
        continue
    
    banList=[]
    
    for team in res.json()['teams']:
        for ban in team['bans']:
            name=converter[ban['championId']]
            banList.append(name)
            
    #no ban means no rank
    if(banList==[]):
        print("NO Ban")
        continue
    
    
    players=[]
    
    for participant in res.json()['participants']:
        player={}
        player['pickturn']=participant['participantId']
        name=converter[participant['championId']]
        player['championName']=name
        player["championID"]=participant['championId']
        #player['role']=participant['timeline']['role']
        player['lane']=participant['timeline']['lane']
        player['win']=participant['stats']['win']
        
        players.append(player)
    
    #lane manipulate
    champion_roles = pull_data()
    
    champs=[]
    
    #Red Team
    for j in range(5):
        champs.append(players[j]["championID"])
    roles=get_roles(champion_roles,champs)

    for j in range(5):
        for key in roles.keys():
            if(roles[key]==players[j]["championID"]):
                players[j]['lane']=key
    
    #Blue Team
    champs=[]
    for j in range(5):
        champs.append(players[j+5]["championID"])
    roles=get_roles(champion_roles,champs)
    for j in range(5):
        for key in roles.keys():
            if(roles[key]==players[j+5]["championID"]):
                players[j+5]['lane']=key
        
    tempdict={}
    tempdict['ban']=banList
    tempdict['players']=players
    match.append(tempdict)

print(len(match))

1:1,1:120
ARAM
2:1,2:120
1:1,3:120
2:1,4:120
1:1,5:120
2:1,6:120
1:1,7:120
2:1,8:120
1:1,9:120
2:1,10:120
1:1,11:120
2:1,12:120
1:1,13:120
NO Ban
2:1,14:120
1:1,15:120
2:1,16:120
URF
1:1,17:120
ARAM
2:1,18:120
1:1,19:120
2:1,20:120
1:1,21:120
2:1,22:120
1:1,23:120
2:1,24:120
1:1,25:120
2:1,26:120
1:1,27:120
URF
2:1,28:120
1:1,29:120
2:1,30:120
1:1,31:120
2:1,32:120
URF
1:1,33:120
2:1,34:120
1:1,35:120
NO Ban
2:1,36:120
1:1,37:120
2:1,38:120
1:1,39:120
2:1,40:120
1:1,41:120
2:1,42:120
1:1,43:120
2:1,44:120
1:1,45:120
2:1,46:120
1:1,47:120
2:1,48:120
1:1,49:120
ARAM
2:1,50:120
504 1:1,51:120
2:1,52:120
1:1,53:120
2:1,54:120
ARAM
1:1,55:120
2:1,56:120
1:1,57:120
ARAM
2:1,58:120
1:1,59:120
2:1,60:120
1:1,61:120
2:1,62:120
1:1,63:120
2:1,64:120
1:1,65:120
2:1,66:120
ARAM
1:1,67:120
ONEFORALL
2:1,68:120
1:1,69:120
2:1,70:120
1:1,71:120
ARAM
2:1,72:120
1:1,73:120
2:1,74:120
1:1,75:120
2:1,76:120
1:1,77:120
2:1,78:120
1:1,79:120
2:1,80:120
1:1,81:120
2:1,82:120
1:1,83:120
URF
2:1,84:120
NO Ban
3:1,85:120
1:1,86:120
ARAM
2:1,87:120
1:1,88:120
2:1,89:120
1:1,90:120
2:1,91:120
1:1,92:120
2:1,93:120
1:1,94:120
2:1,95:120
1:1,96:120
2:1,97:120
1:1,98:120
ARAM
2:1,99:120
1:1,100:120
Request Rate Waiting
81

## 데이터 저장
가공된 데이터를 ./Data/matchData.json에 저장

In [9]:
import json

f=open('./Data/matchData.json','w')
json.dump(match,f)
f.close()

In [10]:
myD=pd.read_json('./Data/matchData.json')
myD

,ban,players
0,"[Jax, Karthus, Lucian, No ban, Pantheon, Talon...","[{'pickturn': 1, 'championName': 'Leona', 'cha..."
1,"[Samira, No ban, Fiora, No ban, Leblanc, No ba...","[{'pickturn': 1, 'championName': 'Sett', 'cham..."
2,"[Graves, Pantheon, Kindred, Fiora, Camille, Sa...","[{'pickturn': 1, 'championName': 'Aphelios', '..."
3,"[Graves, Samira, Karthus, Elise, Pantheon, Jay...","[{'pickturn': 1, 'championName': 'XinZhao', 'c..."
4,"[Nidalee, Renekton, No ban, Talon, Caitlyn, Li...","[{'pickturn': 1, 'championName': 'Pantheon', '..."
...,...,...
76,"[Graves, Samira, Lucian, Karthus, Lulu, Rakan,...","[{'pickturn': 1, 'championName': 'Thresh', 'ch..."
77,"[Lulu, Pantheon, Renekton, Ashe, Lucian, Panth...","[{'pickturn': 1, 'championName': 'Galio', 'cha..."
78,"[Pantheon, Lulu, Lillia, Caitlyn, Graves, Cait...","[{'pickturn': 1, 'championName': 'Karma', 'cha..."
79,"[No ban, Camille, Samira, No ban, No ban, Irel...","[{'pickturn': 1, 'championName': 'Jayce', 'cha..."
80,"[Nidalee, Pantheon, Samira, Graves, Lulu, Rene...","[{'pickturn': 1, 'championName': 'Yone', 'cham..."

In [11]:
pd.DataFrame(myD['ban'][0])

           0
0        Jax
1    Karthus
2     Lucian
3     No ban
4   Pantheon
5      Talon
6     Samira
7  Seraphine
8     Lillia
9     Maokai

In [12]:
pd.DataFrame(myD['players'][0])

   pickturn championName  championID     lane    win
0         1        Leona          89  UTILITY   True
1         2       Ezreal          81   BOTTOM   True
2         3        Jayce         126      TOP   True
3         4      Evelynn          28   JUNGLE   True
4         5       Qiyana         246   MIDDLE   True
5         6         Sett         875  UTILITY  False
6         7     Malphite          54      TOP  False
7         8      Nidalee          76   JUNGLE  False
8         9         Yone         777   MIDDLE  False
9        10         Jhin         202   BOTTOM  False